.Box {
  background: url('../../../assets/img/preview.jpg') fixed;
  @apply relative h-screen flex flex-col items-center justify-center bg-cover before:content-[''] before:absolute before:w-full before:h-full before:backdrop-blur-lg;

  &::before {
    background: linear-gradient(
      180deg,
      hsla(0, 0%, 100%, 0),
      rgba(42, 41, 41, 0.8) 63%,
      rgba(38, 38, 40, 0.897) 77%,
      #18181b 90%
    );
  }

  & > ion-icon {
    @apply animate-bounce text-sky-200 text-2xl absolute bottom-6;
  }
}

.Text {
  z-index: 100;
  font-family: 'Caveat', sans-serif;
}

.Message {
  @apply text-5xl text-white mb-2 tracking-wide font-medium;
}

.Title {
  @apply text-2xl text-slate-300 font-medium tracking-wide;
}
