.Box {
  background: url('../../../assets//img/preview.jpg') fixed;
  @apply relative h-screen flex flex-col items-center justify-center bg-cover before:content-[''] before:absolute before:w-full before:h-full before:backdrop-blur-lg;

  &::before {
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(70,70,70,0.8015581232492998) 63%, rgba(38,38,40,0.896796218487395) 77%, rgba(24,24,27,1) 90%);
  }

  & > ion-icon {
    @apply animate-bounce text-sky-200 text-2xl absolute bottom-6;
  }
}

.Text {
  z-index: 100;
  font-family: 'Caveat', sans-serif;
}

.Message {
  @apply text-5xl text-white mb-2 tracking-wide font-medium;
}

.Title {
  @apply text-2xl text-slate-300 font-medium tracking-wide;
}